* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  background-image: url("/images/bcg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  background: #00515d;
  color: #fffdfa;
  font-size: 3rem;
  font-weight: 700;
  padding: 5px;
  width: 100vw;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.items {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.box {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease-in-out;
}

.box a {
  color: #fffdfa;
  text-decoration: none;
}

.box:hover {
  background-color: #00515d;
}

.preview {
  display: flex; /* To center the image if needed */
  justify-content: center;
  align-items: center;
  padding: 20px; /* Add some padding around the preview area */
  height: 360px; /* Set a fixed height for the preview area */
  width: 640px; /* Set a fixed width for the preview area */
  margin-top: 10px;
  border-radius: 50px;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

#preview-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
