* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  background-image: url("/images/IS-BH-1024x576-1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 10%,
    rgba(1, 212, 34, 0) 100%
  );
  color: #fffdfa;
  font-size: 3rem;
  font-family: "Arizonia", cursive;
  font-weight: 700;
  padding: 5px;
  width: 100vw;
}

.box {
  display: flex;
  width: 100vw;
  height: 150px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #c4c4c4;
  /* background-color: #080808; */
  backdrop-filter: blur(10px) saturate(160%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.01);
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.box :link {
  color: #5a5a5a;
  text-decoration-line: none;
}
.box :visited {
  color: #5a5a5a;
}

.box :hover {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  color: #fffdfa;
  transition: 500ms ease-in-out;
}
