* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #e8e8e8;
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #5b5b5b8f;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 83vh;
  object-fit: cover;
  z-index: -1;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 78px;
  padding: 90px;
  height: 80vh;
  width: 90vw;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  gap: 24px;
  text-align: center;
}

.main-heading {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
}

.subheading {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  border-radius: 4px;
  text-transform: capitalize;
}

.search-for {
  font-size: 18px;
  font-weight: 500;
  height: 70px;
  display: flex;
  flex-direction: row;
  flex: 12;
  background-color: #ffffff;
}

.search-input {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 30px 0px 30px;
  text-transform: capitalize;
  border-right: 1px;
  border-color: #edeff1;
  gap: 10px;
}

.location {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 30px 0px 30px;
  text-transform: capitalize;
}

.search-button {
  height: 70px;
  flex: 1;
  background-color: #ff545a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 22px 0px 22px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 4px;
  gap: 12px;
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px 24px 0px;
  gap: 20px;
  width: 100%;
  text-transform: capitalize;
}

.tags div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 170px;
  gap: 16px;
  border-radius: 4px;
  width: 100%;
  background-color: #ffffff;
}

.icon {
  width: 45px;
  padding-top: 24px;
}

.name {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}

.listing {
  padding-bottom: 24px;
  color: #767f86;
  font-size: 14px;
  font-weight: 400;
}
