* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: #e8e8e8;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: red;
  width: 300px;
  height: 300px;
  border-radius: 75px;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

.save {
  position: absolute;
  top: 10%;
  right: 10%;
  background-color: #ffffff;

  width: 30px;
  height: 30px;
  border-radius: 10px;
}

.save img {
  width: 20px;
  fill: #d4d8da;
  margin: 5px;
  fill-opacity: 10%;
}

.save:hover {
  rotate: 30deg;
  transition: ease-in-out 400ms;
}

.gradient {
  display: flex;
  background: rgb(230, 100, 101);
  background: linear-gradient(
    90deg,
    rgba(230, 100, 101, 1) 0%,
    rgba(145, 152, 229, 1) 100%
  );
  flex: 1;
  border-radius: 35px 35px 0px 0px;
  max-height: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex: 1;
  border-radius: 0px 0px 35px 35px;
  max-height: 50%;
  max-height: 50%;
}

.heading {
  flex: 1;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  padding: 27px 0px 0px 30px;
}

.heading h2 {
  color: #999999;
  font-size: 13px;
  font-weight: 500;
}
.activity {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  background-color: #e3fff9;
  color: #999999;
  font-size: 13px;
  font-weight: 500;
  border-radius: 20px;
  margin: 20px 130px 20px 30px;
}
.activity img {
  width: 15px;
  margin: 10px 5px 5px 9px;
}

.act {
  flex: 2;
}
