* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  font-family: "IBM Plex Serif", serif;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 30px 0px 30px 0px;
  margin: 0px 70px 0px 70px;
}

.heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
}

.mainheading {
  display: flex;
  justify-content: center;
  font-family: "Playfair Display", serif;
  font-size: 78px;
  font-weight: 500;
}

.subheading {
  display: flex;
  justify-content: center;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  height: max-content;
}

.subheading img {
  max-width: 30px;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border: solid black;
  border-width: 1px 0px 3px 0px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.articles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}

.articles div {
  display: flex;
  justify-content: center;
}

.articles div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article-img {
  max-width: 80px;
}

.article-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 6px;
  padding-left: 16px;
}

.article-heading {
  font-size: 16px;
  font-weight: 500;
}

.article-performance {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: #888888;
  font-size: 12px;
  font-weight: 400;
}

.content-body {
  display: flex;
}

.news {
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: 16px;
  padding-right: 36px;
  border-right: solid 1px #eeeeee;
}

.news-headline {
  color: #000000;
  font-size: 30px;
  font-weight: 500;
}

.news-img img {
  width: 100%;
}

.news-author {
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding: 10px 150px 0px 0px;
}

.author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 0px 12px 0px 12px;
}

.author-img {
  display: flex;
}

.author-name {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
  width: max-content;
}

.published-date {
  color: #888888;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
  width: max-content;
}

.divider {
  width: 1px;
  background-color: #eeeeee;
  padding: 10px 0px 10px 0px;
}

.author-bio {
  color: #888888;
  display: flex;
  flex-direction: column;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex: 1;
  padding-left: 36px;
}

.section-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  padding: 14px 0px 14px 0px;
}

.eclipse {
  background-color: #000000;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.section-heading {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  width: max-content;
  min-width: max-content;
}

.line {
  background-color: #000000;
  height: 1px;
  width: 100%;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.article-body {
  display: flex;
  align-items: center;
  gap: 22px;
  border: 1px #eeeeee;
}

.article-body img {
  justify-content: flex-end;
}

.number {
  display: flex;
  color: #000000;
  font-size: 30px;
  font-weight: 400;
}

.article-headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.headline {
  display: flex;
  font-family: "IBM Plex Serif", serif;
  font-size: 16px;
  font-weight: 500;
}

.performance {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #888888;
  font-size: 12px;
  font-weight: 400;
}

.article-thumb {
  display: flex;
  justify-content: flex-end;
}

.search-box {
  display: flex;
  justify-content: space-between;

  height: 46px;
  border: solid black;
  border-width: 1px;
}
.search-input {
  color: #888888;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 10px;
}
.search-button {
  color: #ffffff;
  display: flex;
  align-items: center;
  background-color: #333333;
  padding: 5px 30px 5px 30px;
  text-transform: uppercase;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black;
  border-width: 3px 0px 0px 0px;
}

.footer-heading {
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  padding-top: 30px;
}

.socials {
  display: flex;
  gap: 10px;
}

.social-apps {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px 30px 0px;
}
.social-apps div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  rotate: 45deg;
  border: solid black;
  border-width: 1px;
}
.social-apps div img {
  rotate: -45deg;
}
.copyright {
  font-size: 16px;
  font-weight: 400;
}
