* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  width: 100vw;
  gap: 36px;
}

.card_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  height: 398px;
  padding: 30px;
  width: 510px;
}
.heading {
  color: #010101;
  font-size: 48px;
  font-weight: 700;
}

.content {
  color: #010101;
  font-size: 20px;
  font-weight: 300;
}
.read_more {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #20d97f;
  font-size: 16px;
  font-weight: 700;
  height: 52px;
  width: 224px;
}

.image_container {
  position: relative;
}

.image_border {
  display: flex;
  border: solid 20px;
  border-color: #f1c50e;
  width: 442px;
  height: 462px;
}

.image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card_2 {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  height: 572px;
  gap: 10px;
  width: 1140px;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.quote_heading {
  background-color: #ffffff;
  z-index: 1;
  font-size: 48px;
  font-weight: 700;
  padding: 30px 0px 30px 30px;
  width: 548px;
  margin-left: 10px;
}

.quote_border {
  position: absolute;
  display: flex;
  border: solid 20px;
  border-color: #20d97f;
  width: 400px;
  height: 544px;
  margin: 14px 170px 14px 0px;
}

.about_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about_whitespace {
  display: flex;
  height: 300px;
  width: 570px;
}

.about_content {
  width: 570px;
  gap: 16px;
}

.about_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1c50e;
  border-radius: 50px;
  width: 177px;
  height: 52px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 24px;
}

.about {
  font-size: 20px;
  font-weight: 400;
  padding: 24px 20px 24px 20px;
}

.card_3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 572px;
  gap: 10px;
  width: 1140px;
}

.card_3Section1 {
  display: flex;
  width: 570px;
}

.card_3image_border {
  display: flex;
  border: solid 20px;
  border-color: #f1c50e;
  width: 443px;
  height: 501px;
}

.card_3image {
  position: relative;
}

.card_3imagefile {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card_3Section2 {
  display: flex;
  flex-direction: column;
  height: 422px;
  width: 570px;
  padding: 30px;
  gap: 60px;
}

.card_3_heading {
  color: #010101;
  font-size: 48px;
  font-weight: 700;
}

.card_3_description {
  color: #010101;
  font-size: 20px;
  font-weight: 400;
}

.card_3_button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #20d97f;
  font-size: 16px;
  font-weight: 700;
  height: 52px;
  width: 224px;
}

.page2 {
  display: flex;
  justify-content: center;
  background-color: #e5e5e5;
  width: 100vw;
  height: 944px;
}

.page2_content {
  display: flex;
  flex-direction: column;
  width: 1140px;
  height: 824px;
  padding: 60px 70px 60px 70px;
  gap: 30px;
}

.p2_heading {
  display: flex;
  color: #010101;
  font-size: 48px;
  font-weight: 700;
  width: 666px;
  height: 118px;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cardrow1 {
  display: flex;
  padding-top: 36px;
  gap: 30px;
}

.cardrow2 {
  display: flex;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-top-right-radius: 50px;
  /* height: 305px; */
  width: 360px;
  padding: 30px;
  gap: 14px;
}

.card_icon {
  height: 77px;
  width: 77px;
  border-radius: 100px;
  gap: 10px;
  background-color: #20d97f;
}

.card_icon img {
  padding: 20px;
}

.card_heading {
  color: #010101;
  height: 24px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
}

.card_body {
  color: #010101;
  height: 100px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  padding-top: 16px;
}

.page4 {
  display: flex;
  flex-direction: row;
  background-color: #e5e5e5;
  justify-content: center;
  width: 100vw;
}

.statframe {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  padding: 30px;
  gap: 10px;
}

.statframe_row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.stats_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  gap: 20px;
  width: 250px;
  height: 251px;
}

.stat {
  color: #20d97f;
  font-size: 72px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.stat_head {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.page5 {
  display: flex;
  flex-direction: column;
  /* height: 625px; */
  width: 1140px;
  gap: 21px;
}

.testimonial_heading {
  height: 59px;
  font-size: 48px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #010101;
}

.testimonial_description {
  width: 570px;
  height: 66px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

.testimonial_row {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.testimonial_box1 {
  display: flex;
  width: 555px;
  height: 202px;
  gap: 30px;
  padding: 30px;
}

.testimonial_box2 {
  display: flex;
  width: 555px;
  height: 202px;
  gap: 30px;
  padding: 30px;
  background-color: #d9d9d9;
  border-top-right-radius: 50px;
}

.testimonial_dp {
  display: flex;
  height: 160px;
  width: 160px;
}

.testimonial_dp img {
  border-color: #ffffff;
  border-radius: 80px;
}

.testimonial_content {
  display: flex;
  flex-direction: column;
  gap: 18px;
  height: 172px;
  width: 305px;
}

.testimonial {
  width: 302px;
  height: 88px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

.name {
  padding-top: 3px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

.profession {
  width: 104px;
  height: 22px;
  font-size: 16px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}

.page6 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 693px;
  gap: 10px;
  width: 1140px;
}

.page7 {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 692px;
  padding: 60px 0 60px 0;
  background-color: #f2f2f2;
}

.contact_form {
  display: flex;
  flex-direction: row;
  width: 1140px;
  height: 572px;
}

.contact_inputs {
  display: flex;
  flex-direction: column;
  height: 572px;
  width: 570px;
  background-color: #ffffff;
  border-top-right-radius: 50px;
  padding: 30px;
  gap: 30px;
}

.contact_form_heading {
  height: 59px;
  width: 510px;
  font-size: 48px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
}

.calling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 572px;
  width: 570px;
  padding: 30px;
  gap: 10px;
}

.contact_icon {
  height: 116px;
  width: 116px;
  border-radius: 100px;
  gap: 10px;
  background-color: #20d97f;
}

.contact_icon img {
  height: 50px;
  width: 50px;
  padding: 33px;
}

.calling_number1 {
  height: 75px;
  width: 348px;
  padding-top: 10px;
  gap: 10px;
  font-size: 48px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.calling_number2 {
  height: 75px;
  width: 348px;
  font-size: 48px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.input_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 510px;
}

.input_field {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 510px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

.input_field input {
  display: flex;
  width: 247.5px;
  height: 42px;

  gap: 10px;
  color: #818181;
  background-color: #f2f2f2;
  border: none;
}

.input_field input::placeholder {
  padding: 10px 12px 10px 12px;
}

.input_phone input {
  width: 510px;
}

.input_message input {
  width: 510px;
  height: 122.5px;
}

.input_terms div {
  display: flex;
  flex-direction: row;
  width: 232px;
}

.input_terms input {
  display: flex;
  flex-direction: column;
  width: 13px;
  height: 22px;
}

.form_submit {
  display: flex;
  padding: 10px 30px 10px 30px;
  gap: 10px;
  background-color: #f1c50e;
  color: #111111;
  font-size: 18px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  justify-content: center;
}
