body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  border: 3px solid black;
  margin: 35vh;
  width: 875px;
}

h1 {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  background-color: #f7f7f7;
  padding-block: 10px;
  margin: 0;
}
.product {
  padding-right: 55px;
  width: 240px;
}
.content {
  display: inline-flex;
}

.image {
  max-width: 28vh;
}

.add-to-cart {
  background-color: black;
  justify-content: center;
}

li {
  font-size: 16px;
  font-weight: 400;
}
