* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #e8e8e8;
  width: 100vw;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

.sidemenu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 26vh;
  gap: 45px;
  align-items: flex-start;
  background-color: #24252a;
  box-shadow: 0px 9px 94px 0px #00000026;
  padding: 30px 22px 30px 22px;
}

.brandnav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 45px;
  margin: 10px;
}

.brand {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: flex-start;
  align-items: flex-start;
  text-transform: uppercase;
  padding: 5px;
  font-size: 21.5px;
  font-weight: 700;
  color: #5d7285;
  height: 10vh;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 5px;
  background-color: #ffffff;
}

.navlist {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  color: #eff2f4;
  gap: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  /* padding: 5px; */
  text-transform: capitalize;
  box-sizing: ;
}

.navlist div {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 7.51px;
  border-radius: 14px;
  width: 100%;
}

.navlist div:hover {
  background-color: #0088a8a1;
  transition: ease-in-out linear 300ms;
}

.navlist div button {
  background-color: #0088a8;
  width: 22.52px;
  height: 22.52px;
  border: none;
  color: #eff2f4;
  gap: 15px;
  border-radius: 3.75px;
}

.account {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  color: #eff2f4;
  gap: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 5px;
  text-transform: capitalize;
  margin: 5px;
}

.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #667a8a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 5px;
  bottom: 6px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #0088a8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0088a8;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

.logout {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 7.5px;
  width: 100%;
  gap: 10px;
  background-color: #0088a8;
  border-radius: 14px;
}
